<!doctype html>
<html lang="en">
    
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% if title %}
        <title>YtSearch - {{ title }}</title>
    {% else %}
        <title>YtSearch</title>
    {% endif %}
  </head>
  <body style="height:1500px">
      
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">ytSearch</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="btn btn-warning"><a href="#">Home</a></li>
          </ul>
        </div>
      </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            // Set iframe attributes when the show instance method is called
            $("#videoModal").on("show.bs.modal", function(event) {
                let button = $(event.relatedTarget); // Button that triggered the modal
                let url = button.data("video");      // Extract url from data-video attribute
                $(this).find("iframe").attr({
                    src : url,
                    allow : "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                });
            });
        
            // Remove iframe attributes when the modal has finished being hidden from the user
            $("#videoModal").on("hidden.bs.modal", function() {
                $("#videoModal iframe").removeAttr("src allow");
            });
        });
        </script>
  </body>
</html>